.header {
  width: 100%;
  text-align: center;
  /* color: rgb(207, 204, 204)207, 204, 204); */
  position: relative;
}

.nav__logo a{
  color: #000;
  font-size: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

.nav span {
  padding: 12px 0;
}

.nav a {
  padding: 12px 0;
}

.nav a:hover {
  background: #97BF12;
  color: #fff;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(#000, 0.2);
  position: absolute;
  background: #fff;
  z-index: 99;
  left: 0;
  transform: translateY(-200%);
  transition: all 0.25s;
}

nav.nav.active {
  width: 100%;
  transform: translateY(62%);
}

.nav__toggle {
    cursor: pointer;
}

.nav__toggle button {
  border: none;
  background: transparent;
}

.nav__logo-tab {
  display: none;
}

.logoutButton {
  background: #97BF12;
    color: #fff;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .header {
      /* width: 20%;
      text-align: center;
      position: fixed;
      height: 100%;
      background: #fff;
      left: 0;
      z-index: 999; */
      background: #888;
    height: 100vh;
    padding: 25px 0;
    }
    
    .nav__logo {
      display: block;
    }

    .nav__logo a{
      color: #000;
      font-size: 20px;
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
    
    .nav span {
      padding: 12px 0;
    }
    
    .nav a {
      padding: 12px 0;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
    }
    
    .nav a:hover {
      background: #97BF12;
      color: #fff;
    }
    
    .nav {
      display: flex;
      flex-direction: column;
      background: #fff;
      transform: translateY(200%);
      justify-content: center;
      align-items: center;
      transition: all 0.25s;
    }
    
    nav.nav.active {
      width: 100%;
      transform: translateY(62%);
    }
    
    .nav__toggle {
        cursor: pointer;
        display: none;
    }
    
    .nav__toggle button {
      border: none;
      background: transparent;
    }
    
    .nav__logo-tab {
      display: none;
    }
    
    .logoutButton {
      background: #97BF12;
        color: #fff;
    }
}