.header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.nav__logo a h3 {
  color: #7ea500;
  font-size: 26px;
  font-weight: 900;
  text-shadow: 2px 10px 5px #bcf500;
}

a {
  color: #000;
  text-decoration: none;
}

.nav span {
  padding: 12px 0;
}

.nav a {
  padding: 12px 0;
}

.nav a:hover {
  background: #97BF12;
  color: #fff;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(#000, 0.2);
  position: absolute;
  background: #fff;
  z-index: 99;
  left: 0;
  transform: translateY(-200%);
  transition: all 0.25s;
}

.nav__auth {
  display: flex;
  flex-direction: column;
}

.nav__items {
  display: flex;
  flex-direction: column;
}

.nav__items.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(217%);
  width: 100%;
  background: #fff;
}

.nav__auth.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(235%);
  width: 100%;
  background: #fff;
}

.nav__toggle {
    cursor: pointer;
}

.nav__toggle button {
  border: none;
  background: transparent;
}

.nav__logo-tab {
  display: none;
}

.logoutButton {
  background: #97BF12;
  color: #fff;
}




/* LandScap Tab view */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .header {
      background: #fff;
      height: 105vh;
      padding: 25px 0;
      box-shadow: 3px 7px #d3d3d3;
    }
    
    .nav__logo {
      display: block;
    }

    .nav__logo a h3{
      color: #7ea500;
    font-size: 33px;
    font-weight: 900;
    text-shadow: 2px 10px 5px #bcf500;
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
    
    .nav span {
      padding: 12px 16px;
      font-size: 23px;
    }
    
    .nav a {
      padding: 12px 16px;
      width: 100%;
    display: flex;
    text-align: justify;
    }
    
    .nav a:hover {
      background: #97BF12;
      color: #fff;
    }
    
    .nav {
      display: flex;
      flex-direction: column;
      background: #fff;
      /* transform: translateY(200%); */
      justify-content: center;
      /* align-items: center; */
      transition: all 0.25s;
    }
    
    .nav__items {
      transform: translateY(250%);
    transition: all 0.25s;
    margin: 0 0 0 20px;
    text-align: justify;
    font-size: 23px
    }

    .nav__auth {
      transform: translateY(375%);
    transition: all 0.25s;
    margin: 0 0 0 20px;
    text-align: justify;
    font-size: 32px;
    font-weight: 500;
    }

    nav.nav.active {
      width: 100%;
      transform: translateY(62%);
    }
    
    .nav__toggle {
        cursor: pointer;
        display: none;
    }
    
    .nav__toggle button {
      border: none;
      background: transparent;
    }
    
    .nav__logo-tab {
      display: none;
    }
    
    .logoutButton {
      background: #97BF12;
        color: #fff;
        width: 100%;
    text-align: justify;
    font-size: 22px;
    }

    .selected {
      background: #97BF12;
      color: #fff;
      font-weight: bold;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {

    .header {
      background: #fff;
      height: 107vh;
      padding: 25px 0;
      box-shadow: 3px 7px #d3d3d3;
    }
    
    .nav__logo {
      display: block;
    }

    .nav__logo a h3{
      color: #7ea500;
    font-size: 26px;
    font-weight: 900;
    text-shadow: 2px 10px 5px #bcf500;
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
    
    .nav span {
      padding: 12px 16px;
      font-size: 23px;
    }
    
    .nav a {
      padding: 12px 16px;
      width: 100%;
    display: flex;
    text-align: justify;
    }
    
    .nav a:hover {
      background: #97BF12;
      color: #fff;
    }
    
    .nav {
      display: flex;
      flex-direction: column;
      background: #fff;
      justify-content: center;
      transition: all 0.25s;
    }
    
    .nav__items {
      transform: translateY(300%);
    transition: all 0.25s;
    margin: 0 0 0 20px;
    text-align: justify;
    font-size: 22px
    }

    .nav__auth {
      transform: translateY(375%);
    transition: all 0.25s;
    margin: 0 0 0 20px;
    text-align: justify;
    font-size: 32px;
    font-weight: 500;
    }

    nav.nav.active {
      width: 100%;
      transform: translateY(62%);
    }
    
    .nav__toggle {
        cursor: pointer;
        display: none;
    }
    
    .nav__toggle button {
      border: none;
      background: transparent;
    }
    
    .nav__logo-tab {
      display: none;
    }
    
    .logoutButton {
      background: #97BF12;
        color: #fff;
        width: 100%;
    text-align: justify;
    font-size: 22px;
    }

    .selected {
      background: #97BF12;
      color: #fff;
      font-weight: bold;
    }
}