.items {
  background: #1a1a27;
  padding: 20px 0;

  @include breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a1a27;
  }

  @include breakpoint(desktop) {
    background: #1a1a27;
    padding: 0 3rem;
  }

  .items__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(tablet) {
      text-align: center;
    }

    h1 {
      color: $color_primary_green;

      @include breakpoint(tablet) {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
      }
    }

    p {
      color: $color_acent_green;
    }
  }

  .items__Lists {
    @include breakpoint(tablet) {
      display: flex;
      padding: 20px;
      overflow-y: hidden;
      overflow-x: scroll;
      align-items: center;
      width: 100%;
    }

    @include breakpoint(desktop) {
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      padding: 10px 0;
      margin: 10px 0;

      @include breakpoint(tablet) {
        margin: 0 30px;
      }

      @include breakpoint(desktop) {
        margin: 0 10px;
        flex: 1 0 20%;
      }

      a {
        text-decoration: none;
      }

      figure {
        margin: 0;

        @include breakpoint(tablet) {
          margin: 0 0 1rem;
        }
      }

      img {
        width: 100%;
        padding: 10px;
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        max-height: 250px;
        transition: 0.3s;

        @include breakpoint(tablet) {
          margin-right: 10px;
          height: 250px;
          max-height: 250px;
          border-radius: 50%;
          box-shadow: 0 8px 16px 1px #ccc;
          transition: 0.3s;
        }

        @include breakpoint(desktop) {
          margin-right: 10px;
          height: 250px;
          max-height: 200px;
          box-shadow: 0 0 3px 0 #ccc;
          transition: 0.3s;
        }
      }

      figcaption {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color_primary_green;

        @include breakpoint(tablet) {
          font-size: 26px;
          text-align: center;
          text-transform: capitalize;
          padding: 10px 0;
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .item__socialMedia {
        display: flex;
        justify-content: center;

        @include breakpoint(tablet) {
          display: flex;
          justify-content: center;
          margin: 20px 0 0;
        }

        .MuiSvgIcon-root {
          margin: 0 10px 0 0;
          color: #989898;

          &:hover {
            color: $color_primary_green;
          }

          @include breakpoint(tablet) {
            color: #989898;
            font-size: 1.9rem !important;
            margin: 0 10px 0 0;
            border: 2px solid #aaa;
            padding: 11px;
            border-radius: 50%;
            height: 1.7em !important;
            width: 1.7em !important;
          }

          @include breakpoint(desktop) {
            color: #989898;
          }
        }
      }
    }
  }
}

.heatmap__items {
  height: 250px;
  margin: 20px 0;
  width: 100%;
  padding: 10px;

  @include breakpoint(tablet) {
    height: 250px;
    margin: 20px 0;
    width: 250px;
  }

  @include breakpoint(desktop) {
    height: 250px;
    margin: 20px 0;
    width: 400px;
  }

  .heatmap__image {
    width: 100%;
    padding: 10px;
    border-radius: 24px;
    max-height: 250px;
    transition: 0.3s;
    height: 200px;
    background: #e3e3e3;

    @include breakpoint(tablet) {
      margin-right: 10px;
      height: 200px;
      border-radius: 50%;
      background: #e3e3e3;
    }

    @include breakpoint(desktop) {
      margin-right: 10px;
      height: 200px;
      background: #e3e3e3;
      border-radius: 12px;
    }
  }

  .heatmap__title {
    height: 30px;
    background: #e3e3e3;
    border-radius: 10px;
    margin: 10px 10px;

    @include breakpoint(tablet) {
      height: 30px;
      background: #e3e3e3;
      border-radius: 10px;
      margin: 10px 10px;
    }

    @include breakpoint(desktop) {
      height: 20px;
      background: #e3e3e3;
      border-radius: 5px;
      margin: 10px 10px 10px 0;
    }
  }
}

.heatmap__details {
  height: 300px;
  width: 100%;
  padding: 10px;

  @include breakpoint(tablet) {
    height: 300px;
    width: 570px;
    padding: 1rem;
  }

  @include breakpoint(desktop) {
    height: 300px;
    width: 1170px;
    padding: 3rem;
  }

  .heatmap__details-up {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(tablet) {
      display: flex;
      width: 530px;
    }

    @include breakpoint(desktop) {
      display: flex;
      width: 1130px;
      justify-content: space-around;
      justify-content: center;
      align-items: center;
    }

    .heatmap__details-img {
      height: 200px;
      width: 100%;
      border-radius: 12px;
      background: #e3e3e3;

      @include breakpoint(tablet) {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: #e3e3e3;
        margin: 0 12px 0 0;
      }

      @include breakpoint(desktop) {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: #e3e3e3;
        margin: 0 12px 0 0;
      }
    }

    .heatmap__details-title {
      height: 40px;
      background: #e3e3e3;
      margin: 29px 0;

      @include breakpoint(tablet) {
        height: 40px;
        width: 200px;
        background: #e3e3e3;
        margin: 29px 0;
      }

      @include breakpoint(desktop) {
        height: 40px;
        width: 200px;
        background: #e3e3e3;
        margin: 29px 0;
      }
    }
  }

  .heatmap__appointment {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      width: 540px;
    }

    @include breakpoint(desktop) {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1140px;
    }

    .title1 {
      background: #e3e3e3;
      height: 75px;
      border-radius: 10px;

      @include breakpoint(tablet) {
        width: 500px;
        background: #e3e3e3;
        height: 75px;
        border-radius: 10px;
      }

      @include breakpoint(desktop) {
        width: 500px;
        background: #e3e3e3;
        height: 75px;
        border-radius: 10px;
      }
    }

    .title2 {
      background: #e3e3e3;
      height: 75px;
      border-radius: 10px;
      margin: 20px 0;

      @include breakpoint(tablet) {
        margin: 20px 0;
        width: 300px;
        background: #e3e3e3;
        height: 45px;
        border-radius: 10px;
      }

      @include breakpoint(desktop) {
        margin: 20px 0;
        width: 300px;
        background: #e3e3e3;
        height: 45px;
        border-radius: 10px;
      }
    }

    .title3 {
      @include breakpoint(tablet) {
        width: 300px;
        background: #e3e3e3;
        height: 45px;
        border-radius: 10px;
      }

      @include breakpoint(desktop) {
        width: 300px;
        background: #e3e3e3;
        height: 45px;
        border-radius: 10px;
      }
    }
  }
}

.heatmap__appointments {
  height: 225px;
  display: flex;

  @include breakpoint(tablet) {
    width: 550px;
    height: 325px;
    display: flex;
  }

  @include breakpoint(desktop) {
    width: 350px;
    height: 225px;
    display: flex;
    flex-direction: column;
  }

  .heatmap__app-img {
    height: 150px;
    width: 165px;
    width: 100%;
    background: #e3e3e3;
    border-radius: 12px;

    @include breakpoint(tablet) {
      width: 350px;
      height: 201px;
      background: #e3e3e3;
      border-radius: 12px;
    }

    @include breakpoint(desktop) {
      width: 350px;
      height: 150px;
      background: #e3e3e3;
      border-radius: 12px;
      margin-bottom: 10px;
    }
  }

  .heatmap__title2 {
    background: #e3e3e3;
    height: 45px;
    border-radius: 10px;
    width: 180px;
    margin: 0 5px;

    @include breakpoint(tablet) {
      width: 180px;
      margin: 0 5px;
      background: #e3e3e3;
      height: 45px;
      border-radius: 10px;
    }

    @include breakpoint(desktop) {
      width: 180px;
      margin: 0 5px;
      background: #e3e3e3;
      height: 25px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }

  .heatmap__title3 {
    background: #e3e3e3;
    height: 45px;
    border-radius: 10px;
    width: 180px;
    margin: 5px 5px;

    @include breakpoint(tablet) {
      width: 180px;
      margin: 15px 5px;
      background: #e3e3e3;
      height: 45px;
      border-radius: 10px;
    }

    @include breakpoint(desktop) {
      width: 180px;
      margin: 15px 5px;
      background: #e3e3e3;
      height: 15px;
      border-radius: 10px;
    }
  }
}
